<div class="container"> 
	<h3><%=h @dota.title %></h3><!-- A ecrire en premier --> 
	<a href="/cours/<%= @dota.id %>/edit">Edit Post</a>
	<p><span class="maj"><%=h @dota.language %></span></p><br>
	<p><span class="maj"><%=h @dota.author_first %></span> <span class="maj"><%=h @dota.author_name %></span><p><br>
	<p><%=h @dota.tuto %></p>
</div>